<div class="card">
  <h5 class="card-header"> Estado: {{state}}</h5>
  <div class="card-body">
    <h5 class="">Salario: Q {{_offer.payment}} </h5>
    <p class="">Nombre<br> {{_offer.details}}</p>
    <p class="">Descripcion<br> {{_offer.offerDesc}}</p>
    <p class="">Creacion: {{_offer.publicationDate}} </p>
    <p>Expira: {{_offer.expireDate}}</p>
    <p class="">Lugar<br> {{_offer.direction}}</p>
    <p class="">Modalidad de empleo<br> {{_modality}}</p>
    <p class="">Empleador<br> {{_offer.employer.forename}}</p>
    <p class="">Contacto de empleador<br> {{_offer.employer.email}}</p>
    <p class="">Categoria<br> {{_offer.category.categoryName}}</p>
    <label for="offerPay">Costo por seleccion</label>
    <div class="row pt-3">
      <button class="form-control col btn btn-sm btn-outline-danger" (click)="closeComp()">Cerrar</button>
    </div>

  </div>
</div>
<h5></h5>
